# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pegass-cli

# Test binary, built with `go test -c`
*.test

# Temporary files
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE configuration
.idea

# Application configuration file
config.json
auth-ticket.json
pegass.db
